<html th:replace="~{layout/baseAdmin :: html}">
<div th:fragment="contenido">
    <h2 class="ms-5">Fuentes</h2>
    <table class="table table-sm table-dark">
        <thead>
        <tr>
            <th scope="col">Fuente URL</th>
            <th scope="col">Tipo Fuente</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="fuente : ${fuentesDTO}">
            <td scope="row" th:text="${fuente.baseUrl}"/>
            <td th:text="${fuente.tipoFuente}"/>
            <td><a class="navbar-brand" th:href="@{/admin/fuentes/{id}(id=${fuente.id})}">Editar</a></td>
        </tr>
        </tbody>
    </table>
</div>
</html>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet"/>
<link rel="stylesheet" th:href="@{/css/landing.css}">
