<html th:replace="~{layout/baseContribuyente :: html}">
<main th:fragment="contenido">
    <table class="table table-sm table-dark">
        <thead>
        <tr>
            <th scope="col">Hecho #</th>
            <th scope="col">Fecha</th>
            <th scope="col">Titulo</th>
            <th scope="col">Descripcion</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="hecho : ${hechos}">
            <td scope="row" th:text="${hecho.id}"/>
            <td th:text="${hecho.fechaDelHecho}"/>
            <td th:text="${hecho.titulo}"/>
            <td th:text="${hecho.descripcion}"/>
            <td><a class="navbar-brand"
                   th:href="@{/contribuyente/colecciones/{coleccionId}/hechos/{hechoId}(hechoId=${hecho.id}, coleccionId=${coleccion.id})}">Ver</a>
            </td>
            <td><a class="navbar-brand"
                   th:href="@{/contribuyente/colecciones/{coleccionId}/hechos/{hechoId}/editar(hechoId=${hecho.id}, coleccionId=${coleccion.id})}">Editar</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div id="map"></div>
</main>
</html>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"/>
<link rel="stylesheet" th:href="@{/css/landing.css}"/>
<!-- MAPA -->
<link rel="stylesheet"
      crossorigin=""
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="/>
<script crossorigin="" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="/js/map.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/

    let hechos = JSON.parse([[${hechosJSON}]]);

    hechos.forEach(
        function(hecho) {
            var marker = L.marker([Number(hecho.ubicacion.latitud), Number(hecho.ubicacion.longitud)]).addTo(map);
            marker.bindPopup("<b>"+hecho.fechaDelHecho+" - "+hecho.titulo+"</b>");
        }
    );
    /*]]>*/
</script>