<html th:replace="~{layout/baseAnonimo :: html}">
<div th:fragment="contenido">
    <div class="p-4 form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
        <label class="form-check-label" for="switchCheckDefault"><span class="badge rounded-pill bg-primary">REGISTRACION</span></label>
    </div>
    <form class="p-4" id="loginForm" th:action="@{/login}" method="post">
        <div class="row mb-3">
            <label for="username" class="col-sm-2 col-form-label">Usuario</label>
            <div class="col-sm-10">
                <input type="text" id="username" name="username" class="form-control" required autofocus>
            </div>
        </div>
        <div class="row mb-3">
            <label for="password" class="col-sm-2 col-form-label">Contraseña</label>
            <div class="col-sm-10">
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btn-primary">Ingresar</button>
        </div>
    </form>
    <form class="p-4" id="registrarForm" th:action="@{/registrar}" method="post">
        <div class="row mb-3">
            <label for="username" class="col-sm-2 col-form-label">Usuario</label>
            <div class="col-sm-10">
                <input type="text" id="username" name="username" class="form-control" required autofocus>
            </div>
        </div>
        <div class="row mb-3">
            <label for="username" class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-10">
                <input type="text" id="nombre" name="username" class="form-control" required autofocus>
            </div>
        </div>
        <div class="row mb-3">
            <label for="password" class="col-sm-2 col-form-labellabel">Contraseña</label>
            <div class="col-sm-10">
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btn-primary">REGISTRAR</button>
        </div>
    </form>
</div>
</html>
<script>
    $(document).ready(function() {
        $('#registrarForm').hide();
        $('#switchCheckDefault').click(function() {
            $('#registrarForm').toggle();
            $('#loginForm').toggle();
            if ($(this).is(':checked')) {
                $("#titulo").text("Registración");
            } else {
                $("#titulo").text("LogIn");
            }
        });
    });
</script>

